.headerTitle {
  text-align: center;
}

.countsTitle {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./assets/images/pexels-belle-co-402028.jpg") no-repeat center;
  height: 100vh;
}
.buttons {
  align-self: center;
}

.buttonStyle {
  margin: 4px;
  font-size: 50px;
  background: transparent;
  border: none;
  color: red;
  outline: none;
}
